<main role="main" class="container">
<div class="row">
	<div class="col-md-8 blog-main">
	  {{share-beer-form beer=model didSave="moveAfterSave"}}
	</div><!-- /.blog-main -->

	<aside class="col-md-4 blog-sidebar">
		<div class="row">
			<div class="col-md-12 text-center">
				<br><br>
				<h3 class="pb-3 mb-4 border-bottom"> 👤 {{model.user}} </h3>
				<strong>C E R T I F I C A D O R</strong>
			</div>
		</div>

		<div class="blog-post text-center">
			<img src="http://icons.iconarchive.com/icons/sicons/basic-round-social/512/ember-js-icon.png" width="30%"/>
			<br><br>
			<strong> TIPOS DE VASO </strong>
			<img src="https://goo.gl/bPa62t" width="100%"/>
		</div><!-- /.blog-post -->
	</aside><!-- /.blog-sidebar -->

</div><!-- /.row -->

</main><!-- /.container -->

